.blog-post {
  font-family: 'Roboto', sans-serif;

  .prettyprint {
    overflow: scroll;
    white-space: pre;
    box-sizing: border-box;

    .linenums li {
      list-style-type: decimal;
    }
  }

  .background-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .title {
    text-align: center;
    position: relative;
    margin-top: 10%;
    width: 80%;
    padding: 0 10%;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
  }

  .blog-content {
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 80%;
    margin: 10% 10% 4%;
    background-color: white;
    padding: 1%;
    text-align: justify;
  }

  .image{
    overflow: scroll;
    img{
      display: block;
      margin: 0 auto;
    }

    .caption {
      text-align: center;
      font-style: italic;
    }
  }
}

.blog-post-light {
  text-align: justify;
  margin: 0 10px;
}

.diagram{
  display: flex;
  margin: 20px 0;
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
  }

  .description {
    font-style: italic;
    font-size: 15px;
    text-align: center;
  }

  svg{
  }
}
