.blog-post-light {
  font-family: 'Roboto', sans-serif;
  text-align: justify;
  margin: 0 10px;
  font-size: 23px;
  line-height: 150%;
  letter-spacing: 1.2px;

  .prettyprint {
    overflow: scroll;
    white-space: pre;
    box-sizing: border-box;

    .linenums li {
      list-style-type: decimal;
    }
  }

  .image{
    overflow: scroll;
    img{
      display: block;
      margin: 0 auto;
    }

    .caption {
      text-align: center;
      font-style: italic;
    }
  }

  .diagram{
    display: flex;
    margin: 20px 0;
    .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      display: inline-block;
      padding: 10px;
      margin: 0 auto;
      overflow: auto;
    }

    .description {
      font-style: italic;
      font-size: 15px;
      text-align: center;
    }

  }

  .image {
    text-align: center;
    justify-content: center;

    .caption {
      font-size: 15px;
      font-style: italic;
    }
  }
}

