body {
  margin: 0;
}

.blog-post {
  font-family: 'Roboto', sans-serif;

  .blog-header {
    height: 75vh;
    width: 100%;
    position: relative;

    .title {
      text-align: center;
      position: absolute;
      bottom: 40%;
      width: 80%;
      padding: 0 10%;
      font-weight: 500;
      font-style: italic;
      font-size: 50px;
    }
  }

  .blog-content {
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    width: 80%;
    margin-top: -15%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    padding: 1%;
  }
}